extends layout

block content
  h1= 'hello world'
  div  ` へ　　　　　／|<br>　　/＼7　　　 ∠＿/<br>　 /　│　　 ／　／<br>　│　Z ＿,＜　／　　 /\`ヽ<br>　│　　　　　ヽ　　 /　　〉<br>　 Y　　　　　\`　 /　　/<br>　ｲ●　､　●　　⊂⊃〈　　/<br>　()　 へ　　　　|　＼〈<br>　　&gt;ｰ ､_　 ィ　 │ ／／<br>　 / へ　　 /　ﾉ＜| ＼＼<br>　 ヽ_ﾉ　　(_／　 │／／<br>　　7　　　　　　　|／<br>　　＞―r￣￣\`ｰ―＿`

  p Welcome to wickhamxu's website
