<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/output/dist/css/index.css">
</head>
<body>
<div id="app">
    <h1><%= title %></h1>
    <h2>网站待完善中，敬请期待...</h2>
    <div>
        　　 へ　　　　　／|<br>　　/＼7　　　 ∠＿/<br>　 /　│　　 ／　／<br>　│　Z ＿,＜　／　　 /`ヽ<br>　│　　　　　ヽ　　 /　　〉<br>　 Y　　　　　`　 /　　/<br>　ｲ●　､　●　　⊂⊃〈　　/<br>　()　 へ　　　　|　＼〈<br>　　&gt;ｰ ､_　 ィ　 │ ／／<br>　 / へ　　 /　ﾉ＜| ＼＼<br>　 ヽ_ﾉ　　(_／　 │／／<br>　　7　　　　　　　|／<br>　　＞―r￣￣`ｰ―＿
    </div>
</div>
</body>
</html>
