<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta name="format-detection" content="telephone=no,email=no,address=no" />
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1" />
    <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
</head>
<body>
<div id="app">
    <!--<h1><%= title %></h1>-->
    <!--<h2>网站待完善中，敬请期待...</h2>-->
    <!--<div>-->
        <!--　　 へ　　　　　／|<br>　　/＼7　　　 ∠＿/<br>　 /　│　　 ／　／<br>　│　Z ＿,＜　／　　 /`ヽ<br>　│　　　　　ヽ　　 /　　〉<br>　 Y　　　　　`　 /　　/<br>　ｲ●　､　●　　⊂⊃〈　　/<br>　()　 へ　　　　|　＼〈<br>　　&gt;ｰ ､_　 ィ　 │ ／／<br>　 / へ　　 /　ﾉ＜| ＼＼<br>　 ヽ_ﾉ　　(_／　 │／／<br>　　7　　　　　　　|／<br>　　＞―r￣￣`ｰ―＿-->
    <!--</div>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.10.0/matter.min.js"></script>
    <script>

        // 简写
        var Engine = Matter.Engine,
            Render = Matter.Render,
            World = Matter.World,
            Bodies = Matter.Bodies,
            Composites = Matter.Composites,
            Body = Matter.Body,
            Constraint = Matter.Constraint,
            MouseConstraint = Matter.MouseConstraint,
            Common = Matter.Common,
            Events = Matter.Events;

        // 创建引擎
        var engine = Engine.create();

        // 创建渲染器
        var render = Render.create({
            element: document.body,
            engine: engine,
            options: {
                wireframes : false,
                width: 1500
            }
        });

        // 鼠标约束
        var mouseConstraint = MouseConstraint.create(engine, {
            element: render.canvas
        });
        //
        World.add(engine.world, mouseConstraint);

        // 运行引擎
        Engine.run(engine);
        Render.run(render);


        let ground = Bodies.rectangle(400,600,1200,50, { isStatic: true}),
            random = parseInt(Common.random(1,6))
            rock = Bodies.circle(300, 300, 40, {
                render: {
                    sprite: {
                        texture: "/" + random+".png"
                    }
                }
            })
        elastic = Constraint.create({
            pointA: {x:300,y:300},
            bodyB: rock,
            stiffness: 0.1   //韧性  0.2 相当于弹簧  1非常僵硬
        })

        var pyramid = Composites.pyramid(700,300,9,10,0,0,function (x,y) {   //金字塔
            return Bodies.rectangle(x,y,25,40)
        })
        var ground2 = Bodies.rectangle(900, 250, 200, 20, { isStatic: true });

        var pyramid2 = Composites.pyramid(820, 0,7,11, 0, 0, function(x, y) {
            return Bodies.rectangle(x, y, 25, 40);
        });

        World.add(engine.world, [ground,rock,elastic,pyramid,ground2,pyramid2]);

        Events.on(engine, 'afterUpdate', function(e) {
            if (mouseConstraint.mouse.button === -1 && (rock.position.x > 340 || rock.position.y < 260)) {
                let random = parseInt(Common.random(1,6))
                rock = Bodies.circle(300, 300, 40, {
                    render: {
                        sprite: {
                            texture: "/"+random+".png"
                        }
                    }
                })
                elastic.bodyB = rock;
                World.add(engine.world, rock);
                console.log(e)
            }
        });








    </script>
</div>
</body>
</html>
