<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/output/dist/css/index.css">
</head>
<body>
<div id="app">
    <form action="/api/user/signUp" method="post">
        <input type="text" name="name" placeholder="请输入用户名">
        <input type="password" name="pwd" placeholder="请输入密码">
        <input type="submit" value="Submit" />
    </form>
</div>

<script>

</script>
</body>
</html>
